<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @email %>!</h1>
    <li>You have reserved a study room:</li>
    <li>Room No.: <%= @booking.room_id %></li>
    <li>Time: from <%= @booking.startTime %> to <%= @booking.endTime %></li>
    <li>booked by: <%= @email %></li>
    <li><%= link_to 'click here', root_url %> to view your booking</li>
  </body>
</html>
