<li>
  <%= link_to room.room_id, room %>
    |   <%= room.size %>    |   <%= room.building %>    |   
    <%= link_to "Book", room %>
    <% if current_user.admin? %>
    | <%= link_to "delete", room, method: :delete,
                                  data: { confirm: "You sure?" } %>
    <% end %>

</li>