<% provide(:title, @room.room_id) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @room.room_id %>
      </h1>
      <h2>Size: <%= @room.size %></h2>
      <p>Available time:</p><br>
      <p>Book this room within 7 days from now, enter the start time you want to book this room. </p>
      
      <%= form_tag(update_path, :method => "get", id: "update-form") do %>
            <%= datetime_local_field :start_time, params[:start_time], placeholder: "Start Time",  class: 'form-control' %>
            <%= hidden_field_tag "rid", @room.room_id%>
            <%= submit_tag "Check availability and Book" , class: "btn btn-primary"%>
      <% end %>
      
      <p>Room may not be available if it has been book within the time you select. </p>
    </section>
  </aside>
</div>